{% extends 'admin/index.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Manage Comments{% endblock %}

{% block content %}
    <nav>
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', '后台主页') }}
            {{ render_breadcrumb_item('admin.manage_comment', '管理评论') }}
        </ol>
    </nav>
    <div class="page-header">
        <h1>评论：<small class="text-muted">{{ pagination.total }}</small>
            <span class="dropdown">
                <button class="btn btn-secondary btn-sm" type="button" data-toggle="dropdown">
                    按{{ order_rule }}排序 <span class="oi oi-elevator"></span>
                </button>
                <div class="dropdown-menu">
                    {% if order_rule == '被举报次数' %}
                        <a class="dropdown-item" href="{{ url_for('admin.manage_comment',order='by_time')　}}">
                            按时间排序
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="{{ url_for('admin.manage_comment',order='by_flag')　}}">
                            按被举报次数
                        </a>
                    {% endif %}
                </div>
            </span>
        </h1>
    </div>
    {% if comments %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>评论内容</th>
                <th>评论人</th>
                <th>评论图片id</th>
                <th>被举报</th>
                <th>评论时间</th>
                <th>管理</th>
            </tr>
            </thead>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.body }}</td>
                    <td>
                        <a href="{{ url_for('user.index',username=comment.author.username) }}">
                            {{ comment.author.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_photo',photo_id=comment.photo.id) }}">
                            图片id：{{ comment.photo.id }}
                        </a>
                    </td>
                    <td>{{ comment.flag }}</td>
                    <td>{{ moment(comment.timestamp).format('LL') }}</td>
                    <td>
                        <form class="inline" method="post"
                              action="{{ url_for('main.delete_comment', comment_id=comment.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('确定删除？');">删除
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination,align='center') }}</div>
    {% else %}
        <div class="tip"><h5>没有评论...</h5></div>
    {% endif %}
{% endblock %}